.shop-search-bar {
        input {
        font-size: 20px;        
        height: 40px;
        width: 100%;
        border: 1px solid #E6E6E6;

        &::placeholder {
        color: #CCCCCC;

        }

        &:focus {
            outline: none;
        }
    }
}



.search-bar-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 10px [s] 10px [icon-e] 1fr [e] 50px;
    padding-top: 10px;

        &__icon {
            color: #808080;
            grid-row: s/e;
            grid-column: s/icon-e;
            font-size: 18px;
            z-index: 100;
            align-self: center;
        }

        &__input {
            grid-row: s/e;
            grid-column: 1/e;
            padding-left: 50px;
            height: 25px;
            width: 100%;
            border-radius: 20px;
        }
}