html {
    font-size: 62.5%; //standard font size is 16px, when I multiply 16px x 0.625 I get 10, so setting it up this way makes it to where the h1 tag below is actually equal to 10px.
}

h1 {
    font-size: 1rem;
}

body {
    font-family: "Open Sans";
    color: #808080;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';

@import 'page-title';
@import 'form-fields';
@import 'details';