html {
    font-size: 62.5%; //standard font size is 16px, when I multiply 16px x 0.625 I get 10, so setting it up this way makes it to where the h1 tag below is actually equal to 10px.
}

h1 {
    font-size: 1rem;
}

body {
    font-family: "Open Sans";
    color: #808080;
//The lines below are to allow for cleaner readability in all browsers i.e. firefox
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; //this is depricated
    -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//VARIABLES
$green-button: #00CB79;


@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'form-fields';
@import 'details';

//AUTH
@import 'auth/signin';
@import 'auth/signup';


//ACCOUNT
@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';

//SHOP
@import 'shop/shop';
@import 'shop/shop-search-bar';
@import 'shop/shop-product';

//CART
@import 'shop/shop-cart';
@import 'shop/cart-product';

//QUANTITY
@import 'quantity';
@import 'green-price-tag';

//REVIEW
@import 'order/review';
@import 'order/reviewForm';